{% doc %}
  Renders social media icon links from theme settings.

  @example
  {% render 'social-icons' %}
{% enddoc %}

{%- liquid
  assign social_links = ''
  if settings.social_instagram_link != blank
    assign social_links = social_links | append: 'instagram,'
  endif
  if settings.social_facebook_link != blank
    assign social_links = social_links | append: 'facebook,'
  endif
  if settings.social_twitter_link != blank
    assign social_links = social_links | append: 'twitter,'
  endif
  if settings.social_pinterest_link != blank
    assign social_links = social_links | append: 'pinterest,'
  endif
  if settings.social_tiktok_link != blank
    assign social_links = social_links | append: 'tiktok,'
  endif
  if settings.social_youtube_link != blank
    assign social_links = social_links | append: 'youtube,'
  endif
-%}

{%- if social_links != blank -%}
  <div class="social-icons">
    {%- if settings.social_instagram_link != blank -%}
      <a href="{{ settings.social_instagram_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="Instagram">
        {%- render 'icon', icon: 'instagram', size: 20 -%}
      </a>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <a href="{{ settings.social_facebook_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="Facebook">
        {%- render 'icon', icon: 'facebook', size: 20 -%}
      </a>
    {%- endif -%}
    {%- if settings.social_twitter_link != blank -%}
      <a href="{{ settings.social_twitter_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="X (Twitter)">
        {%- render 'icon', icon: 'twitter', size: 20 -%}
      </a>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <a href="{{ settings.social_pinterest_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="Pinterest">
        {%- render 'icon', icon: 'pinterest', size: 20 -%}
      </a>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <a href="{{ settings.social_tiktok_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="TikTok">
        {%- render 'icon', icon: 'tiktok', size: 20 -%}
      </a>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <a href="{{ settings.social_youtube_link }}" class="social-icons__link" target="_blank" rel="noopener" aria-label="YouTube">
        {%- render 'icon', icon: 'youtube', size: 20 -%}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
