<footer class="site-footer">
  <div class="site-footer__inner">
    {%- comment -%} Left: Logo + social + copyright {%- endcomment -%}
    <div class="site-footer__brand">
      <div class="site-footer__logo">
        {%- if section.settings.logo_svg != blank -%}
          {{ section.settings.logo_svg }}
        {%- elsif section.settings.logo != blank -%}
          <img class="site-footer__logo-img" src="{{ section.settings.logo | image_url }}" alt="{{ shop.name }}" loading="lazy">
        {%- else -%}
         <svg width="1218" height="244" viewBox="0 0 1218 244" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2396_1421)">
<path d="M87.7404 226.34L83.9405 220.85C68.0505 197.94 46.2805 166.54 37.8905 134.61C37.3905 134.16 36.8905 133.7 36.4305 133.25C21.7622 119.228 9.67766 102.733 0.730469 84.5196L16.8705 76.5996C21.7538 86.5359 27.6841 95.9225 34.5605 104.6C35.5605 88.7696 41.4305 73.4296 54.7005 59.5996C70.8805 42.7396 94.8005 35.2696 117.13 40.0996C125.142 41.7827 132.716 45.1146 139.37 49.8835C146.024 54.6523 151.612 60.7537 155.78 67.7996C170.12 92.4896 167.4 125.58 149.32 146.49C144.505 152.158 138.566 156.765 131.879 160.02C125.192 163.275 117.902 165.107 110.47 165.4C94.3505 166.2 77.8304 160.68 63.5504 152.88C73.1004 173.68 87.1504 193.94 98.7104 210.6L102.54 216.14L87.7404 226.34ZM54.0605 124.86C69.2205 137.38 90.8104 148.37 109.58 147.45C114.593 147.31 119.518 146.104 124.027 143.91C128.537 141.717 132.526 138.587 135.73 134.73C148.95 119.44 150.85 95.0896 140.24 76.8196C137.328 71.9361 133.432 67.7118 128.799 64.4151C124.166 61.1183 118.899 58.8212 113.33 57.6696C97.0504 54.1496 79.5505 59.6696 67.6705 72.0396C53.0005 87.3596 50.2605 105.76 54.0605 124.86Z" fill="white"/>
<path d="M308.071 161.68V141H307.641C297.921 155.68 280.861 164.54 261.641 164.54C226.221 164.54 198.141 137.76 198.141 102.34C198.141 66.9203 227.081 40.5703 261.641 40.5703C281.291 40.5703 298.141 49.4303 307.641 64.3303H308.071V43.5403H323.191V161.68H308.071ZM308.931 102.68C308.931 76.3303 288.201 54.0903 261.421 54.0903C234.211 54.0903 213.261 74.8203 213.261 102.9C213.261 130.11 233.781 150.84 261.641 150.84C288.001 150.88 308.931 129.28 308.931 102.72V102.68Z" fill="white"/>
<path d="M261.64 165.889C225.24 165.889 196.74 137.949 196.74 102.289C196.74 66.8691 225.24 39.1191 261.64 39.1191C280.34 39.1191 296.54 46.8191 306.64 60.3991V42.1392H324.56V163.079H306.67V144.719C296.39 157.999 279.83 165.889 261.64 165.889ZM261.64 41.8892C226.82 41.8892 199.55 68.3991 199.55 102.249C199.55 136.339 226.82 163.039 261.64 163.039C280.21 163.039 296.97 154.479 306.47 140.129L306.88 139.499H309.47V160.229H321.78V44.9991H309.47V65.7292H306.87L306.45 65.0791C297.09 50.3491 280.75 41.9291 261.64 41.9291V41.8892ZM261.64 152.239C233.26 152.239 211.86 131.029 211.86 102.899C211.86 74.2692 233.16 52.6791 261.42 52.6791C288.42 52.6791 310.34 75.1091 310.34 102.679C310.34 130.049 288.49 152.279 261.64 152.279V152.239ZM261.42 55.4891C234.77 55.4891 214.66 75.8692 214.66 102.899C214.66 129.429 234.86 149.439 261.66 149.439C286.96 149.439 307.55 128.439 307.55 102.679C307.53 76.6991 286.85 55.5291 261.42 55.5291V55.4891Z" fill="white"/>
<path d="M360 208.11V43.5396H375.11V64.2795H375.54C386.54 48.7295 402.76 40.5195 421.54 40.5195C457.4 40.5195 485 67.9995 485 102.29C485 137.06 457.79 164.49 421.51 164.49C403.15 164.49 386.09 156.28 375.51 140.95H375.08V208.11H360ZM421.33 54.1095C395.85 54.1095 374.25 75.6996 374.25 102.7C374.25 129.05 394.77 150.86 421.55 150.86C449.62 150.86 469.92 129.86 469.92 102.92C469.92 75.7195 450.05 54.1295 421.33 54.1295V54.1095Z" fill="white"/>
<path d="M376.52 209.519H358.59V42.1392H376.52V60.6392C387.59 46.7292 403.45 39.1191 421.52 39.1191C457.91 39.1191 486.42 66.8691 486.42 102.289C486.42 137.949 457.91 165.889 421.52 165.889C403.39 165.889 387.17 158.189 376.52 144.629V209.519ZM361.4 206.709H373.71V139.539H376.28L376.7 140.149C386.76 154.719 403.11 163.079 421.55 163.079C456.94 163.079 483.64 136.949 483.64 102.289C483.64 68.4391 456.36 41.9291 421.55 41.9291C402.94 41.9291 387.42 49.9291 376.69 65.0891L376.27 65.6791H373.71V44.9991H361.4V206.709ZM421.55 152.279C394.24 152.279 372.84 130.509 372.84 102.719C372.84 75.1491 394.6 52.7191 421.33 52.7191C449.83 52.7191 471.33 74.3091 471.33 102.939C471.33 131.069 449.93 152.279 421.55 152.279ZM421.33 55.5291C396.14 55.5291 375.65 76.6991 375.65 102.719C375.65 128.939 395.81 149.479 421.55 149.479C448.32 149.479 468.55 129.479 468.55 102.939C468.52 75.4691 448.67 55.5291 421.33 55.5291Z" fill="white"/>
<path d="M537.999 108.12C539.289 131.66 560.889 150.88 583.779 150.88C602.139 150.88 619.629 140.3 626.109 123.02H642.109C637.36 136.794 627.874 148.435 615.342 155.867C602.81 163.3 588.046 166.042 573.681 163.605C559.316 161.167 546.283 153.709 536.904 142.558C527.525 131.408 522.41 117.29 522.469 102.72C522.469 68.3795 550.759 40.5195 583.799 40.5195C619.219 40.5195 645.799 70.9696 645.799 103.58C645.799 105.1 645.579 106.58 645.579 108.12H537.999ZM630.219 94.5096C625.899 70.7596 607.109 54.1295 583.779 54.1295C561.779 54.1295 542.099 70.1296 537.999 94.5096H630.219Z" fill="white"/>
<path d="M584 165.889C567.273 165.852 551.245 159.179 539.433 147.336C527.622 135.492 520.992 119.446 521 102.719C521 68.2391 549.74 39.1191 583.74 39.1191C618.1 39.1191 647.13 68.6392 647.13 103.579C647.13 104.369 647.08 105.159 647.02 105.949C646.96 106.739 646.91 107.399 646.91 108.119V109.519H539.55C541.55 131.329 561.55 149.519 583.82 149.519C602.31 149.519 618.82 138.689 624.82 122.519L625.16 121.609H644.1L643.44 123.479C634.43 148.849 610.55 165.889 584 165.889ZM583.78 41.8892C551.3 41.8892 523.85 69.7291 523.85 102.679C523.789 116.746 528.666 130.388 537.63 141.229C546.594 152.07 559.078 159.423 572.905 162.006C586.733 164.589 601.029 162.239 613.302 155.365C625.576 148.491 635.048 137.529 640.07 124.389H627.07C620.35 141.089 603.07 152.239 583.78 152.239C559.52 152.239 537.91 132.049 536.6 108.159L536.51 106.669H644.23C644.23 106.349 644.23 106.029 644.3 105.669C644.35 104.949 644.4 104.229 644.4 103.499C644.4 70.1591 616.66 41.9291 583.82 41.9291L583.78 41.8892ZM631.9 95.8892H536.38L536.65 94.2491C540.77 69.7791 560.16 52.6891 583.82 52.6891C607.48 52.6891 627.19 69.7691 631.64 94.2291L631.9 95.8892ZM539.68 93.0791H628.51C623.74 70.8691 605.57 55.4991 583.78 55.4991C561.99 55.4991 544.18 70.8991 539.72 93.1091L539.68 93.0791Z" fill="white"/>
<path d="M683.17 164.49V43.5396H698.29V60.6095H698.72C703.9 48.2995 712.97 41.6095 731.98 40.5195V56.5195H731.76C709.95 58.6795 698.29 72.9395 698.29 91.9395V164.51L683.17 164.49Z" fill="white"/>
<path d="M699.689 165.889H681.77V42.1391H699.689V55.4691C705.749 44.9991 715.69 40.039 731.9 39.119L733.38 39.0391V57.9091H731.76C711.76 59.9091 699.689 72.6191 699.689 91.9091V165.889ZM684.569 163.079H696.88V91.9191C696.88 71.6691 709.759 57.6891 730.569 55.2191V41.9991C714.099 43.2191 705.19 48.8291 700.01 61.1291L699.65 61.989H696.88V44.9991H684.569V163.079Z" fill="white"/>
<path d="M768.85 161.679V1.85938H784V64.2794H784.43C789.619 56.9093 796.51 50.9007 804.519 46.7642C812.527 42.6276 821.416 40.4854 830.43 40.5194C864.99 40.5194 893.93 66.8694 893.93 102.289C893.93 137.489 866.28 164.489 830.43 164.489C812.07 164.489 795.01 156.279 784.43 140.949H784V161.679H768.85ZM830.19 54.1294C804.27 54.1294 783.11 75.9394 783.11 102.719C783.11 129.069 803.84 150.879 830.4 150.879C858.48 150.879 878.78 129.879 878.78 102.939C878.78 75.0794 858.26 54.1294 830.19 54.1294Z" fill="white"/>
<path d="M830.401 165.891C812.271 165.891 796.061 158.191 785.401 144.631V163.081H767.48V0.460938H785.401V60.641C790.81 53.9122 797.663 48.4849 805.452 44.7601C813.24 41.0353 821.767 39.1081 830.401 39.1209C866.791 39.1209 895.301 66.8709 895.301 102.291C895.301 138.001 866.791 165.891 830.401 165.891ZM782.561 139.541H785.141L785.561 140.151C795.621 154.721 811.961 163.081 830.401 163.081C865.801 163.081 892.49 136.951 892.49 102.291C892.49 68.4409 865.221 41.9309 830.401 41.9309C821.616 41.9085 812.955 44.0003 805.149 48.0295C797.343 52.0587 790.621 57.9072 785.551 65.0809L785.13 65.6809H782.561V3.27094H770.26V160.271H782.561V139.541ZM830.401 152.281C803.551 152.281 781.7 130.051 781.7 102.721C781.7 75.1509 803.45 52.7209 830.19 52.7209C858.69 52.7209 880.19 74.3109 880.19 102.941C880.18 131.071 858.781 152.281 830.401 152.281ZM830.19 55.5309C805 55.5309 784.51 76.7009 784.51 102.721C784.51 128.501 805.101 149.481 830.401 149.481C857.181 149.481 877.401 129.481 877.401 102.941C877.371 75.4709 857.53 55.5309 830.19 55.5309Z" fill="white"/>
<path d="M1040.77 161.68V141H1040.34C1030.62 155.68 1013.56 164.54 994.34 164.54C958.92 164.54 930.84 137.76 930.84 102.34C930.84 66.9203 959.78 40.5703 994.34 40.5703C1013.99 40.5703 1030.83 49.4303 1040.34 64.3303H1040.77V43.5403H1055.89V161.68H1040.77ZM1041.63 102.68C1041.63 76.3303 1020.9 54.0903 994.12 54.0903C966.91 54.0903 945.96 74.8203 945.96 102.9C945.96 130.11 966.48 150.84 994.34 150.84C1020.68 150.88 1041.63 129.28 1041.63 102.72V102.68Z" fill="white"/>
<path d="M994.339 165.889C957.949 165.889 929.439 137.949 929.439 102.289C929.439 66.8691 957.949 39.1191 994.339 39.1191C1013.04 39.1191 1029.24 46.8191 1039.34 60.3991V42.1392H1057.26V163.079H1039.34V144.719C1029.09 157.999 1012.53 165.889 994.339 165.889ZM994.339 41.8892C959.519 41.8892 932.25 68.3991 932.25 102.249C932.25 136.339 959.519 163.039 994.339 163.039C1012.91 163.039 1029.67 154.479 1039.17 140.129L1039.58 139.499H1042.17V160.229H1054.48V44.9991H1042.17V65.7292H1039.57L1039.15 65.0791C1029.79 50.3491 1013.45 41.9291 994.339 41.9291V41.8892ZM994.339 152.239C965.959 152.239 944.56 131.029 944.56 102.899C944.56 74.2692 965.86 52.6791 994.12 52.6791C1021.12 52.6791 1043.04 75.1091 1043.04 102.679C1043 130.049 1021.19 152.279 994.339 152.279V152.239ZM994.12 55.4891C967.47 55.4891 947.359 75.8692 947.359 102.899C947.359 129.429 967.559 149.439 994.359 149.439C1019.66 149.439 1040.25 128.439 1040.25 102.679C1040.23 76.6991 1019.55 55.5291 994.12 55.5291V55.4891Z" fill="white"/>
<path d="M1200.75 140.08H1200.32C1191.89 155.63 1173.75 164.49 1154.75 164.49C1121.06 164.49 1092.98 137.71 1092.98 103.15C1092.98 68.5896 1120.84 40.5195 1154.75 40.5195C1173.75 40.5195 1190.6 49.3795 1200.32 64.7095H1200.75V43.5396H1215.87V165.93C1215.87 208.69 1184.77 224.93 1158.2 224.93C1129.05 224.93 1105.72 208.93 1097.73 181.53H1113.73C1121.51 200.75 1137.49 211.33 1158.01 211.33C1184.79 211.33 1200.77 193.19 1200.77 168.13L1200.75 140.08ZM1201.61 102.72C1201.61 77.0195 1181.31 54.1295 1154.53 54.1295C1129.05 54.1295 1108.1 76.3695 1108.1 102.72C1108.1 128.42 1128.4 150.88 1154.75 150.88C1181.31 150.88 1201.61 128.2 1201.61 102.72Z" fill="white"/>
<path d="M1158.2 226.29C1128.05 226.29 1104.37 209.29 1096.38 181.87L1095.86 180.07H1114.66L1115.01 180.95C1122.56 199.6 1137.82 209.87 1158.01 209.87C1183.13 209.87 1199.36 193.47 1199.36 168.08V144.38C1190.27 157.74 1173.59 165.89 1154.77 165.89C1119.93 165.89 1091.6 137.75 1091.6 103.15C1091.6 67.8404 1119.93 39.1504 1154.77 39.1504C1173.12 39.1504 1189.16 47.0004 1199.36 60.8304V42.1404H1217.29V165.93C1217.27 207.62 1187.6 226.29 1158.2 226.29ZM1099.63 182.88C1107.75 207.98 1130.02 223.48 1158.2 223.48C1186.2 223.48 1214.46 205.68 1214.46 165.93V45.0004H1202.15V66.1604H1199.54L1199.13 65.5104C1189.65 50.5104 1173.47 41.9804 1154.75 41.9804C1121.46 41.9804 1094.38 69.4404 1094.38 103.2C1094.38 136.25 1121.46 163.13 1154.75 163.13C1174.18 163.13 1191.17 154.06 1199.08 139.46L1199.48 138.73H1202.15V168.13C1202.15 194.81 1184.4 212.73 1157.99 212.73C1137.23 212.73 1120.8 201.89 1112.77 182.93L1099.63 182.88ZM1154.75 152.28C1128.25 152.28 1106.69 130.05 1106.69 102.72C1106.69 75.6204 1128.6 52.7204 1154.53 52.7204C1181.26 52.7204 1203.02 75.1504 1203.02 102.72C1203 130.05 1181.36 152.28 1154.75 152.28ZM1154.53 55.5304C1130.12 55.5304 1109.53 77.1404 1109.53 102.72C1109.53 128.5 1129.83 149.48 1154.78 149.48C1179.73 149.48 1200.24 128.48 1200.24 102.72C1200.21 76.7004 1179.72 55.5304 1154.53 55.5304Z" fill="white"/>
<path d="M559.28 239.889V243.279H533.09V206.279H558.48V209.669H537V222.799H556.15V226.139H537V239.889H559.28Z" fill="white"/>
<path d="M573.201 212.17V215.45H581.771V218.62H573.301V243.28H569.551V218.62H564.551V215.45H569.551V212C569.551 207 572.551 203.74 577.961 203.74C579.955 203.68 581.912 204.297 583.511 205.49L582.241 208.29C581.07 207.365 579.612 206.88 578.121 206.92C574.891 206.93 573.201 208.73 573.201 212.17Z" fill="white"/>
<path d="M592.349 212.17V215.45H600.929V218.62H592.459V243.28H588.699V218.62H583.699V215.45H588.699V212C588.699 207 591.699 203.74 597.119 203.74C599.114 203.681 601.069 204.298 602.669 205.49L601.399 208.29C600.224 207.367 598.763 206.882 597.269 206.92C594.049 206.93 592.349 208.73 592.349 212.17Z" fill="white"/>
<path d="M603.939 229.36C603.939 221.11 609.939 215.24 618.119 215.24C626.299 215.24 632.249 221.11 632.249 229.36C632.249 237.61 626.249 243.54 618.119 243.54C616.24 243.603 614.368 243.279 612.62 242.589C610.871 241.898 609.283 240.856 607.953 239.526C606.624 238.197 605.581 236.609 604.891 234.86C604.2 233.111 603.877 231.239 603.939 229.36ZM628.439 229.36C628.439 222.85 624.049 218.52 618.119 218.52C612.189 218.52 607.749 222.85 607.749 229.36C607.749 235.87 612.199 240.21 618.119 240.21C624.039 240.21 628.439 235.87 628.439 229.36Z" fill="white"/>
<path d="M655.161 215.24V218.89C654.851 218.89 654.531 218.83 654.261 218.83C648.451 218.83 644.901 222.54 644.901 229.1V243.28H641.141V215.45H644.741V220.9C646.491 217.19 650.001 215.24 655.161 215.24Z" fill="white"/>
<path d="M679 241.579C677.347 242.928 675.264 243.638 673.13 243.579C667.89 243.579 664.98 240.579 664.98 235.489V218.619H659.98V215.449H664.98V209.359H668.74V215.449H677.2V218.619H668.74V235.239C668.74 238.519 670.431 240.309 673.551 240.309C675.053 240.349 676.52 239.845 677.681 238.889L679 241.579Z" fill="white"/>
<path d="M687.08 204H690.83V243.26H687.08V204Z" fill="white"/>
<path d="M726.76 230.53H703.479C703.899 236.35 708.349 240.21 714.479 240.21C716.08 240.259 717.671 239.957 719.143 239.326C720.614 238.696 721.931 237.752 723 236.56L725.12 238.99C723.774 240.492 722.114 241.678 720.258 242.464C718.401 243.251 716.394 243.618 714.38 243.54C705.7 243.54 699.77 237.62 699.77 229.36C699.77 221.1 705.54 215.24 713.37 215.24C721.2 215.24 726.859 221 726.859 229.36C726.809 229.68 726.76 230.1 726.76 230.53ZM703.479 227.72H723.219C723.108 225.189 722.009 222.802 720.158 221.071C718.308 219.34 715.853 218.403 713.319 218.46C707.929 218.46 703.999 222.27 703.479 227.72Z" fill="white"/>
<path d="M731.85 240.1L733.54 237.1C736.424 239.158 739.886 240.25 743.43 240.22C748.72 240.22 750.89 238.42 750.89 235.67C750.89 228.42 732.89 234.14 732.89 223.13C732.89 218.58 736.81 215.2 743.89 215.2C747.345 215.145 750.749 216.041 753.73 217.79L752.09 220.79C749.662 219.18 746.801 218.35 743.89 218.41C738.89 218.41 736.64 220.41 736.64 223.02C736.64 230.53 754.64 224.87 754.64 235.56C754.64 240.37 750.41 243.49 743.16 243.49C738.57 243.54 734.12 242.06 731.85 240.1Z" fill="white"/>
<path d="M758.939 240.1L760.63 237.1C763.517 239.16 766.983 240.252 770.53 240.22C775.82 240.22 777.99 238.42 777.99 235.67C777.99 228.42 759.99 234.14 759.99 223.13C759.99 218.58 763.91 215.2 770.99 215.2C774.445 215.144 777.849 216.04 780.829 217.79L779.189 220.79C776.763 219.178 773.902 218.348 770.99 218.41C765.99 218.41 763.74 220.41 763.74 223.02C763.74 230.53 781.74 224.87 781.74 235.56C781.74 240.37 777.51 243.49 770.26 243.49C765.66 243.54 761.209 242.06 758.939 240.1Z" fill="white"/>
<path d="M787.46 240.63C787.452 240.256 787.519 239.885 787.656 239.537C787.794 239.19 788 238.874 788.262 238.607C788.524 238.341 788.836 238.129 789.181 237.985C789.526 237.842 789.896 237.768 790.27 237.77C790.645 237.768 791.017 237.841 791.364 237.985C791.711 238.128 792.026 238.339 792.291 238.605C792.556 238.871 792.766 239.187 792.908 239.534C793.051 239.882 793.122 240.254 793.12 240.63C793.125 241.393 792.828 242.127 792.294 242.672C791.761 243.217 791.033 243.529 790.27 243.54C789.894 243.534 789.522 243.455 789.177 243.306C788.832 243.156 788.52 242.94 788.259 242.67C787.998 242.399 787.793 242.08 787.655 241.729C787.518 241.379 787.452 241.005 787.46 240.63Z" fill="white"/>
<path d="M844.401 239.889V243.279H818.211V206.279H843.601V209.669H822.121V222.799H841.271V226.139H822.121V239.889H844.401Z" fill="white"/>
<path d="M854 204H857.76V243.26H854V204Z" fill="white"/>
<path d="M893.72 230.53H870.44C870.86 236.35 875.3 240.21 881.44 240.21C883.04 240.258 884.632 239.957 886.103 239.326C887.575 238.696 888.891 237.752 889.96 236.56L892 239C890.655 240.502 888.995 241.689 887.139 242.475C885.282 243.262 883.275 243.629 881.26 243.55C872.59 243.55 866.66 237.63 866.66 229.37C866.66 221.11 872.43 215.25 880.26 215.25C888.09 215.25 893.75 221.01 893.75 229.37C893.77 229.68 893.72 230.1 893.72 230.53ZM870.44 227.72H890.17C890.063 225.189 888.967 222.8 887.118 221.068C885.268 219.337 882.813 218.4 880.28 218.46C874.88 218.46 870.91 222.27 870.44 227.72Z" fill="white"/>
<path d="M925.52 215.449L913.14 243.279H909.28L897 215.449H900.91L911.34 239.149L921.87 215.449H925.52Z" fill="white"/>
<path d="M952.189 225.999V243.249H948.589V238.909C946.899 241.769 943.589 243.509 939.019 243.509C932.719 243.509 928.859 240.229 928.859 235.419C928.859 231.129 931.609 227.529 939.599 227.529H948.429V225.839C948.429 221.079 945.739 218.489 940.549 218.489C937.171 218.445 933.887 219.608 931.289 221.769L929.599 218.999C932.824 216.475 936.825 215.149 940.919 215.249C948.119 215.239 952.189 218.829 952.189 225.999ZM948.429 234.889V230.339H939.699C934.309 230.339 932.559 232.449 932.559 235.339C932.559 238.569 935.149 240.579 939.559 240.579C943.829 240.579 946.999 238.569 948.429 234.919V234.889Z" fill="white"/>
<path d="M978.28 241.579C976.626 242.928 974.543 243.638 972.41 243.579C967.17 243.579 964.26 240.579 964.26 235.489V218.619H959.26V215.449H964.26V209.359H968V215.449H976.46V218.619H968V235.239C968 238.519 969.69 240.309 972.81 240.309C974.313 240.349 975.779 239.845 976.94 238.889L978.28 241.579Z" fill="white"/>
<path d="M1009.55 230.53H986.27C986.7 236.35 991.14 240.21 997.27 240.21C998.871 240.259 1000.46 239.957 1001.93 239.326C1003.41 238.696 1004.72 237.752 1005.79 236.56L1007.91 238.99C1006.56 240.492 1004.9 241.678 1003.05 242.464C1001.19 243.251 999.185 243.618 997.17 243.54C988.49 243.54 982.57 237.62 982.57 229.36C982.57 221.1 988.33 215.24 996.16 215.24C1003.99 215.24 1009.66 221 1009.66 229.36C1009.61 229.68 1009.55 230.1 1009.55 230.53ZM986.27 227.72H1006C1005.89 225.189 1004.79 222.802 1002.94 221.071C1001.09 219.34 998.634 218.403 996.1 218.46C990.72 218.46 986.75 222.27 986.27 227.72Z" fill="white"/>
<path d="M1043.9 204V243.26H1040.3V237.75C1039.18 239.579 1037.6 241.078 1035.71 242.092C1033.82 243.106 1031.7 243.599 1029.56 243.52C1021.62 243.52 1015.7 237.75 1015.7 229.34C1015.7 220.93 1021.62 215.22 1029.56 215.22C1031.65 215.15 1033.72 215.619 1035.57 216.583C1037.42 217.546 1039 218.971 1040.14 220.72V204H1043.9ZM1040.19 229.34C1040.19 222.83 1035.75 218.5 1029.88 218.5C1024.01 218.5 1019.51 222.83 1019.51 229.34C1019.51 235.85 1023.95 240.19 1029.88 240.19C1035.81 240.19 1040.19 235.87 1040.19 229.36V229.34Z" fill="white"/>
<path d="M1053.16 240.63C1053.15 240.256 1053.22 239.885 1053.36 239.537C1053.5 239.19 1053.7 238.874 1053.96 238.607C1054.22 238.341 1054.54 238.129 1054.88 237.985C1055.23 237.842 1055.6 237.768 1055.97 237.77C1056.35 237.768 1056.72 237.841 1057.07 237.985C1057.41 238.128 1057.73 238.339 1057.99 238.605C1058.26 238.871 1058.47 239.187 1058.61 239.534C1058.75 239.882 1058.82 240.254 1058.82 240.63C1058.83 241.393 1058.53 242.127 1058 242.672C1057.46 243.217 1056.73 243.529 1055.97 243.54C1055.59 243.534 1055.22 243.455 1054.88 243.306C1054.53 243.156 1054.22 242.94 1053.96 242.67C1053.7 242.399 1053.49 242.08 1053.36 241.729C1053.22 241.379 1053.15 241.005 1053.16 240.63Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_2396_1421">
<rect width="1218" height="244" fill="white"/>
</clipPath>
</defs>
</svg>
        {%- endif -%}
      </div>



    </div>

    {%- comment -%} Right: Link columns {%- endcomment -%}
    <div class="site-footer__nav">
      {%- for block in section.blocks -%}
        <div class="site-footer__column" {{ block.shopify_attributes }}>
          {%- assign menu = linklists[block.settings.menu] -%}
          {%- assign heading = block.settings.heading | default: menu.title -%}
          <h4 class="site-footer__heading">{{ heading }}</h4>
          <ul class="site-footer__links">
            {%- for link in menu.links -%}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </div>
  </div>
</footer>

{%- assign ps_menu = linklists[section.settings.popular_searches_menu] -%}
{%- if ps_menu.links.size > 0 -%}
  <div class="popular-searches">
    <div class="container">
      <h4 class="popular-searches__heading">{{ section.settings.popular_searches_heading | default: 'Popular Searches' }}</h4>
      <p class="popular-searches__links">
        {%- for link in ps_menu.links -%}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {%- endfor -%}
      </p>
    </div>
  </div>
{%- endif -%}

<div class="site-copyright">
  <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. All Rights Reserved.</p>
</div>

{% stylesheet %}
  /* ── Container (Bootstrap) ── */
  .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container { max-width: 540px; }
  }
  @media (min-width: 768px) {
    .container { max-width: 720px; }
  }
  @media (min-width: 992px) {
    .container { max-width: 960px; }
  }
  @media (min-width: 1200px) {
    .container { max-width: 1140px; }
  }
  @media (min-width: 1400px) {
    .container { max-width: 1320px; }
  }

  /* ── Popular Searches ── */
  .popular-searches {
    padding: 32px 0;
    background-color: #8FA1B7;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .popular-searches__heading {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    display: inline-block;
  }

  .popular-searches__links {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2;
    margin: 0;
  }

  .popular-searches__links a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
  }

  .popular-searches__links a:hover {
    color: #fff;
  }

  .popular-searches__links a + a::before {
    content: '  |  ';
    color: rgba(255, 255, 255, 0.4);
  }

  .site-copyright {
    background-color: #8FA1B7;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .site-copyright p {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
  .site-footer {
    background-color: #8FA1B7;
    color: #fff;
    padding: 64px 0 32px;
  }

  .site-footer a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .site-footer a:hover {
    opacity: 0.75;
  }

  .site-footer__inner {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }

  @media (min-width: 576px) {
    .site-footer__inner { max-width: 540px; }
  }
  @media (min-width: 768px) {
    .site-footer__inner { max-width: 720px; }
  }
  @media (min-width: 992px) {
    .site-footer__inner { max-width: 960px; }
  }
  @media (min-width: 1200px) {
    .site-footer__inner { max-width: 1140px; }
  }
  @media (min-width: 1400px) {
    .site-footer__inner { max-width: 1320px; }
  }

  /* ── Brand column (left) ── */
  .site-footer__brand {
    display: flex;
    flex-direction: column;
    gap: 0;
    min-width: 300px;
  }

  .site-footer__logo {
    margin-bottom: 48px;
    height: auto;
    width: 260px;
  }

  .site-footer__logo svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  .site-footer__logo-img {
    width: auto;
    height: 40px;
    display: block;
  }

  .site-footer__logo-text {
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.02em;
  }

  .site-footer__copyright {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FAF8F3;
    line-height: 1.8;
    margin: 0;
    text-transform: capitalize;
  }

  /* ── Nav columns (right) ── */
  .site-footer__nav {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
  }

  .site-footer__column {
    min-width: 184px;
  }

  .site-footer__heading {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 24px;
    line-height: 1.4;
  }

  .site-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .site-footer__links a {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
  }

  /* ── Tablet ── */
  @media screen and (min-width: 750px) and (max-width: 989px) {
    .site-footer__inner {
      flex-direction: column;
      gap: 40px;
    }

    .site-footer__nav {
      width: 100%;
      justify-content: flex-start;
    }

    .site-footer__brand {
      min-width: auto;
    }
  }

  /* ── Mobile ── */
  @media screen and (max-width: 749px) {
    .site-footer {
      padding: 40px 0 24px;
    }

    .site-footer__inner {
      flex-direction: column;
      gap: 32px;
    }

    .site-footer__brand {
      min-width: auto;
    }

    .site-footer__logo {
      margin-bottom: 32px;
    }

    .site-footer__logo-img {
      height: 32px;
    }

    .site-footer__logo-text {
      font-size: 32px;
    }

    .site-footer__nav {
      flex-direction: column;
      gap: 32px;
      width: 100%;
    }

    .site-footer__column {
      min-width: auto;
    }

    .site-footer__heading {
      font-size: 18px;
      margin-bottom: 16px;
    }

    .site-footer__links a {
      font-size: 16px;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer logo (image)"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Footer logo (SVG code)",
      "info": "Paste SVG code here. This takes priority over the image logo."
    },
    {
      "type": "header",
      "content": "Popular Searches"
    },
    {
      "type": "text",
      "id": "popular_searches_heading",
      "label": "Heading",
      "default": "Popular Searches"
    },
    {
      "type": "link_list",
      "id": "popular_searches_menu",
      "label": "Popular searches menu",
      "info": "Create a menu in Navigation and select it here."
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu column",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading override"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Footer",
      "blocks": [
        {
          "type": "menu",
          "settings": {
            "heading": "Shop",
            "menu": "shop"
          }
        },
        {
          "type": "menu",
          "settings": {
            "heading": "Support",
            "menu": "support"
          }
        },
        {
          "type": "menu",
          "settings": {
            "heading": "Policies",
            "menu": "policies"
          }
        }
      ]
    }
  ]
}
{% endschema %}
