{%- paginate blog.articles by section.settings.articles_per_page -%}
<div class="blog section-padding">
  <div class="container">
    {%- render 'breadcrumb' -%}
    <h1 class="blog__title h1 text-center">{{ blog.title }}</h1>

    <div class="grid grid--{{ section.settings.columns }}">
      {%- for article in blog.articles -%}
        <article class="card article-card">
          {%- if article.image != blank -%}
            <a href="{{ article.url }}" class="card__image">
              {%- render 'image', image: article.image, widths: '360,535,750', sizes: '(min-width: 990px) 33vw, 50vw' -%}
            </a>
          {%- endif -%}
          <div class="card__content">
            {%- if section.settings.show_date -%}
              <time class="article-card__date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                {{ article.published_at | date: '%B %d, %Y' }}
              </time>
            {%- endif -%}
            <h2 class="card__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
            {%- if article.excerpt_or_content != blank -%}
              <p class="article-card__excerpt">{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
            {%- endif -%}
            <a href="{{ article.url }}" class="btn btn--text">{{ 'blog.read_more' | t }}</a>
          </div>
        </article>
      {%- endfor -%}
    </div>

    {%- render 'pagination', paginate: paginate -%}
  </div>
</div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog page",
  "settings": [
    { "type": "range", "id": "articles_per_page", "label": "Articles per page", "min": 3, "max": 24, "step": 3, "default": 9 },
    { "type": "select", "id": "columns", "label": "Columns", "options": [{"value":"2","label":"2"},{"value":"3","label":"3"}], "default": "3" },
    { "type": "checkbox", "id": "show_date", "label": "Show date", "default": true },
    { "type": "checkbox", "id": "show_author", "label": "Show author", "default": true }
  ]
}
{% endschema %}
