<article class="article section-padding" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="container">
    {%- render 'breadcrumb' -%}

    <header class="article__header text-center">
      <h1 class="article__title h1" itemprop="headline">{{ article.title }}</h1>
      <div class="article__meta">
        <span itemprop="author">{{ 'blog.by_author' | t: author: article.author }}</span>
        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" itemprop="datePublished">
          {{ 'blog.posted_on' | t: date: article.published_at | date: '%B %d, %Y' }}
        </time>
      </div>
    </header>

    {%- if article.image != blank -%}
      <div class="article__image">
        {%- render 'image', image: article.image, widths: '750,1000,1500', sizes: '(min-width: 990px) 800px, 100vw', lazy: false -%}
      </div>
    {%- endif -%}

    <div class="article__content rte" itemprop="articleBody">
      {{ article.content }}
    </div>

    {%- if article.tags.size > 0 -%}
      <div class="article__tags">
        <span>{{ 'blog.tags' | t }}:</span>
        {%- for tag in article.tags -%}
          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {%- endfor -%}
      </div>
    {%- endif -%}

    {%- if blog.comments_enabled? -%}
      <div class="article__comments">
        <h2 class="h3">{{ 'blog.comments' | t: count: article.comments_count }}</h2>

        {%- for comment in article.comments -%}
          <div class="article__comment">
            <p class="article__comment-author">{{ comment.author }}</p>
            <time class="article__comment-date">{{ comment.created_at | date: '%B %d, %Y' }}</time>
            <div class="article__comment-body">{{ comment.content }}</div>
          </div>
        {%- endfor -%}

        {%- paginate article.comments by 20 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}

        {% form 'new_comment', article %}
          <h3 class="h4">{{ 'blog.comment_form.submit' | t }}</h3>
          <div class="form__group">
            <label for="CommentAuthor" class="form__label">{{ 'blog.comment_form.name' | t }}</label>
            <input type="text" id="CommentAuthor" name="comment[author]" required class="form__input">
          </div>
          <div class="form__group">
            <label for="CommentEmail" class="form__label">{{ 'blog.comment_form.email' | t }}</label>
            <input type="email" id="CommentEmail" name="comment[email]" required class="form__input">
          </div>
          <div class="form__group">
            <label for="CommentBody" class="form__label">{{ 'blog.comment_form.body' | t }}</label>
            <textarea id="CommentBody" name="comment[body]" required class="form__textarea"></textarea>
          </div>
          <button type="submit" class="btn btn--primary">{{ 'blog.comment_form.submit' | t }}</button>
        {% endform %}
      </div>
    {%- endif -%}
  </div>
</article>

{% schema %}
{
  "name": "Article page",
  "settings": []
}
{% endschema %}
